body{ 
    
    background: url(../imgPack/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Fira Sans,sans-serif;
    margin: 0;
}


  .btn-custom{
  font-size: 12px;
  color: #fff;
  border: none;
  background-color: #50717d;
  border-radius: 100px;
  cursor: pointer;
  margin: 0 5px;
  height: 28px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 800;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  }
  .input-custom{
    padding: 10px;
    width: 100%;
    background-color: #0e0e14;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }
  .btn-custom2{
    font-size: 12px;
    color: #fff;
    border: none;
    background-color: #ffb027;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 5px;
    height: 28px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 800;
  }
  
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 11px;
  background: #0e0e14;
  color: white;
  min-width: 35px;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.icon .searchSVG{
 position: relative;
 top: 2px;
 left: 5px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
  
}
.modal-content{
  color:white;max-width: 700px;background-color: #242433;border-radius: 12px;border: 20px solid #242433;
 }
.modal-content .modal-header .spanTutorial{
  background: #13131b;font-size: 15px;float:left;margin-top: -39px;
}
 .modal-body .modalContainer{
  background-color: #1a1a24;border-radius: 12px;padding: 3%; 
}
.header h1{
  color:white;font-size: 70px;margin-top: 90px;
}
.searchUser{
  color:white;max-width: 700px;background-color: #242433;border-radius: 12px;border: 20px solid #242433;margin-top: 7%;
}
.searchUser .searchSpan{
  background: #13131b;font-size: 15px;float:left;margin-top: -31px;
}
.searchUser .searchUserContainer{
  background-color: #1a1a24;border-radius: 12px;padding: 3%;
}
.userInfo{
  color:white;max-width: 700px;background-color: #242433;border-radius: 12px;border: 20px solid #242433;
}
.userInfo .userSpan{
  background: #13131b;font-size: 15px;float:left;margin-top: -31px;
}
.userInfo .userInfoContainer{
  background-color: #1a1a24;border-radius: 12px;padding: 4%;width: 50%;
}
.userInfo .userInfoContainer .userNameSkin{
  width: 50px;height: 50px;margin-top: 20px;border-radius: 100px;
}
.userInfo .userInfoContainer .userNameSkin .lvlCount{
  z-index: 10;position: relative;right: 19px;width: 19px;height: 19px;border-radius: 100px;
}
.userInfo .userInfoContainer .userNameSkin .lvlCount small{
  position:relative;top: 2px;font-size: 11px;font-family: inherit;
}
.userInfo .userInfoContainer .userNameSkin .lvlCount img{
  position:relative;z-index: 10;width: 19px;left: 38px;top: 15px;width: 19px;height: 19px;border-radius: 100px;
}
.userInfo .userInfoContainer .userNameSkin img{
  z-index: 1;position: relative;bottom: 29px;right: 3px;width: 65px;
}
.userInfo .userInfoContainer .spanUsername{
  background: #13131b;font-size: 13px;margin-top: 10px;
}

  /* ------------ */
/* --- body --- */
/* ------------ */


/* ---------------- */
/* --- tool tip --- */
/* ---------------- */

/*

example:
tooltip="text"
flow="direction"

*/

[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 0.9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.2ch;
  border-radius: 0.8ch;
  background: #1a1a24;
  color: #ffffff;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* --- flow up --- */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 105%;
  border-bottom-width: 0;
  border-top-color: #141f24;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(105% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* --- flow down --- */

[tooltip][flow^="down"]::before {
  top: 105%;
  border-top-width: 0;
  border-bottom-color: #141f24;
}

[tooltip][flow^="down"]::after {
  top: calc(105% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* --- flow left --- */

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #1a1a24;
  left: calc(0em - 13px);
  transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 13px);
  transform: translate(-0.5em, -50%);
}

/* --- flow right --- */

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #141f24;
  right: calc(0em - 13px);
  transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 13px);
  transform: translate(0.5em, -50%);
}

/* --- flow center  */

[tooltip][flow^="center"]::before {
  top: 50%;
  border-top-width: 0;
  border-bottom-color: #141f24;
}

[tooltip][flow^="center"]::after {
  top: calc(50% + 5px);
}

[tooltip][flow^="center"]::before,
[tooltip][flow^="center"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* --- keyframes --- */

@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* --- fx all the things --- */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after,
[tooltip][flow^="center"]:hover::before,
[tooltip][flow^="center"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}